[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-cors = "*"
requests = "*"
geopy = "*"


[dev-packages]



[requires]

python_version = "3.6"
