<div class="row">
    <div class="col-md-6">
        <h4>Location: {{ weather_address }}</h4>
    </div>        
</div>
{% for report in weather_reports %}
<div class="row">
    <div class="col-md-6">
            <div class="well">
            <div class="row">
                <div class="col-xs-9">
                <b>Date:</b> {{ report.date }}<br/>
                <b>Max Tempertaure:</b> {{ report.max_temperature }}<br/>
                <b>Min Tempertaure:</b> {{ report.min_temperature }}<br/>
                <b>Summary:</b> {{ report.summary }}<br/>
                {% if report.raining_chance  %}
                    <b>Chance of rain:</b> {{ report.raining_chance }}<br/>
                {% endif %}
                </div>
                <div class="col-xs-3"> <h1>
                {% if report.icon == "clear-day" %}
                    <i class="wi wi-day-sunny"></i>
                {% elif report.icon == "clear-night" %}
                    <i class="wi wi-night-clear"></i>
                {% elif report.icon == "rain" %}
                    <i class="wi wi-rain"></i>
                {% elif report.icon == "snow" %}
                    <i class="wi wi-snow"></i>
                {% elif report.icon == "sleet" %}
                    <i class="wi wi-sleet"></i>
                {% elif report.icon == "wind" %}
                    <i class="wi wi-windy"></i>
                {% elif report.icon == "fog" %}
                    <i class="wi wi-fog"></i>
                {% elif report.icon == "cloudy" %}
                    <i class="wi wi-cloudy"></i>
                {% elif report.icon == "partly-cloudy-day" %}
                    <i class="wi wi-day-cloudy"></i>
                {% elif report.icon == "partly-cloudy-night" %}
                    <i class="wi wi-night-partly-cloudy"></i>
                {% endif %} </h1>
                </div>
            </div>  
            </div>
    </div>
</div>
{% endfor %}